[submodule "autoload/vim-pathogen"]
	path = autoload/vim-pathogen
	url = ./autoload/vim-pathogen
[submodule "bundle/vim-latex-live-preview"]
	path = bundle/vim-latex-live-preview
	url = https://github.com/xuhdev/vim-latex-live-preview.git
